/* Add fonts */

@font-face {
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Reggaeone-regular";
    src: url(../fonts/ReggaeOne-Regular.ttf);
}

@font-face {
    font-family: "Pacifico-regular";
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "Lobster-regular";
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: "Courgette-regular";
    src: url(../fonts/Courgette-Regular.ttf);
}


/* colors */

:root {
    --primary: #f8b90c;
    --secondary: #232B38;
    --ternary: #6c6c6c;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --heaven: #ffffff;
    --footer: #2d333f;
    --blog-bgcolor: #f7ebb9;
    --username: lightsalmon;
    --pure-white: #fff;
    --gradient-color: linear-gradient(to right bottom, rgba(255, 119, 48, .8), rgba(255, 185, 0, .8));
    --gradient-color-main: linear-gradient(to right bottom, rgba(245, 169, 169, 0.5), rgba(181, 226, 247, 0.5));
    --gradient-color2: linear-gradient(to right bottom, rgba(243, 216, 189, 0.2), rgba(253, 253, 249, 0.2));
}


/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway-regular";
}

.container {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.single_container {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.main-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.nav-background {
    width: 100%;
    height: 100%;
    background: var(--light);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}

.nav-trigger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
    display: none;
}

.nav-trigger svg {
    transform: rotate(90deg) scaleX(-1);
    -webkit-transform: rotate(90deg) scaleX(-1);
    -moz-transform: rotate(90deg) scaleX(-1);
    -ms-transform: rotate(90deg) scaleX(-1);
    -o-transform: rotate(90deg) scaleX(-1);
    width: 40px;
    height: 40px;
}

.site-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--heaven);
    z-index: 2;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.site-content-wrapper.scaled {
    transform: scale(0.9) translateX(90%);
    -webkit-transform: scale(0.9) translateX(90%);
    -moz-transform: scale(0.9) translateX(90%);
    -ms-transform: scale(0.9) translateX(90%);
    -o-transform: scale(0.9) translateX(90%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 3px 10px 0 var(--secondary);
}

.site-content {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

header.topbar {
    background: var(--secondary);
    color: var(--pure);
    font-family: "Raleway-semibold";
    padding: 0rem 0;
    font-size: 1rem;
}

header.topbar .auth>div a {
    color: var(--pure);
    text-decoration: none;
}

header.topbar .icons a {
    margin-right: 0.6rem;
    padding: 0.1rem 0.1rem;
}

header.topbar .icons a img {
    width: 13px;
    height: 13px;
}

header.topbar .search-box {
    position: relative;
    height: 35px;
    width: 35px;
    left: -40px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header.topbar .search-box.active {
    width: 200px;
}

header.topbar .search-box input {
    height: 100%!important;
    width: 100%!important;
    border: none;
    background: var(--pure-white);
    font-size: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0 60px 0 20px;
    outline: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header.topbar .search-box input.active {
    opacity: 1;
}

header.topbar .search-box .search-btn {
    position: absolute;
    top: 60%;
    right: 5px;
    z-index: 1;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    height: 30px;
    width: 30px;
    color: var(--secondary);
    background: var(--pure-white);
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header.topbar .search-box .search-btn.active {
    right: 5px;
    height: 30px;
    width: 30px;
    color: var(--pure-white);
    background: var(--secondary);
    font-size: 12px;
    transform: translateY(-60%)rotate(360deg);
    -webkit-transform: translateY(-60%)rotate(360deg);
    -moz-transform: translateY(-60%)rotate(360deg);
    -ms-transform: translateY(-60%)rotate(360deg);
    -o-transform: translateY(-60%)rotate(360deg);
}

header.topbar .search-box .cancel-btn {
    position: absolute;
    top: 60%;
    right: 8px;
    transform: translateY(-60%);
    color: var(--danger);
    font-size: 15px;
    cursor: pointer;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header.topbar .search-box .cancel-btn.active {
    right: -40px;
    transform: translateY(-60%)rotate(360deg);
    -webkit-transform: translateY(-60%)rotate(360deg);
    -moz-transform: translateY(-60%)rotate(360deg);
    -ms-transform: translateY(-60%)rotate(360deg);
    -o-transform: translateY(-60%)rotate(360deg);
}

header.topbar .search-box .search-data {
    text-align: center;
    padding-top: 2px;
    color: var(--pure-white);
    font-size: 10px;
    word-wrap: break-word;
}

header.topbar .search-box .search-data.active {
    display: none;
}

header.topbar .auth .divider {
    padding: 0 0.5rem;
}

header.topbar .auth>div img {
    margin-right: 0.35rem;
}

header.topbar .auth .login img,
header.topbar .auth .register img,
header.topbar .auth .username img,
header.topbar .auth .logout img,
header.topbar .auth .language img {
    width: 12.5px;
    height: 12.5px;
}

header.topbar .auth .language .language_selector {
    padding: 3px 7px;
    background-color: var(--light);
    border: 1px solid transparent;
    color: var(--secondary);
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    /* Replace default arrow with one arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns = "http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
}

header.topbar .auth .language .language_selector:focus,
header.topbar .auth .language .language_selector:hover {
    outline: none;
    border: 1px solid var(--blog-bgcolor);
}

header.topbar .auth .language .language_selector option {
    background: var(--light);
    color: var(--secondary);
}

header.topbar .auth .username a {
    color: var(--username);
}

header.topbar .auth .logout a {
    color: var(--primary);
}

.margin-In_btn {
    margin-bottom: -20px;
}

nav .top {
    padding: 0;
}

nav .navbar a {
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-semibold";
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.8rem 1.5rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

nav .navbar a.active {
    background: var(--primary);
    color: var(--pure);
}

nav .navbar a:hover {
    background: var(--primary);
    color: var(--pure);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* smooth scrolling button */


/* .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid var(--secondary);
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%)rotate(45deg);
    -webkit-transform: translate(-50%, -100%)rotate(45deg);
    -moz-transform: translate(-50%, -100%)rotate(45deg);
    -ms-transform: translate(-50%, -100%)rotate(45deg);
    -o-transform: translate(-50%, -100%)rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
    -webkit-animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
} */


/* smooth scrolling button */

.icon-resize img {
    /* padding: 0; */
    /* margin-top: 20px; */
    width: 35px;
    height: 35px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header.topbar .branding .brand_name {
    font-size: 2rem;
    /* margin-top: 2rem; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: "Courgette-regular";
    color: var(--heaven);
    /* border-bottom: 5px solid var(--ternary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

section {
    padding: 4rem 0;
}

section.top-products {
    background: var(--light);
    margin-top: 1.5rem;
}

section.top-products .food-slider .food-card {
    background: var(--heaven);
    border-bottom: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section.top-products .food-slider .food-card .product-image img {
    width: 100%;
    max-height: 300px;
    background-size: cover;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

hr {
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 0.01rem 0;
}

h1 {
    color: var(--secondary);
}

section.top-products .food-slider .food-card h2 a {
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
    text-decoration: none;
    color: var(--secondary);
}

section.top-products .food-slider .food-card h2 a span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
}

.slick-slide {
    margin: 0 27px;
}

.slick-list {
    margin: 0 -27px;
}

.top-products .slider-btn {
    width: 30px!important;
    height: 30px!important;
    border: none!important;
    background: var(--primary)!important;
    border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    -ms-border-radius: 4px!important;
    -o-border-radius: 4px!important;
    cursor: pointer!important;
    outline: none!important;
}

.top-products .slider {
    position: relative;
}

.prev-btn {
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}

.next-btn {
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}

.top-products .btn-wrapper {
    margin-top: 2rem;
}

.slick-track {
    padding: 1rem 0;
}

section.contact-us {
    padding-top: 0;
    padding-bottom: 0;
}

section.contact-us .contact-info-wrapper {
    border-right: 2px solid var(--primary);
}

section.contact-us .contact-info-wrapper,
section.contact-us .map {
    padding: 4rem 0;
}

section.contact-us .contact-info {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

section.contact-us .contact-info>div>div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

section.contact-us .contact-info>div>div img {
    margin-right: 1rem;
}

section.contact-us .contact-info>div>div>div {
    display: flex;
    flex-direction: column;
}

section.contact-us .contact-info>div>div>div span:first-child {
    font-family: "Raleway-bold";
    margin-bottom: 0.25rem;
}

footer {
    background: var(--footer);
    padding: 4rem 0;
}

footer .container {
    display: flex;
    color: var(--pure);
}

footer .box {
    flex: 1;
    margin-right: 2rem;
    text-align: center;
}

footer .box h3 {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

footer .box p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

footer .box:nth-child(3)>div {
    display: flex;
    justify-content: center;
}

footer .box:nth-child(3) {
    text-align: left;
}

footer .box:nth-child(3) h3 {
    text-align: center;
}

footer .box:nth-child(3)>div img {
    margin-right: 1rem;
}

footer .box:nth-child(3) ul li {
    margin-bottom: 1.5rem;
}

footer .facebook-api img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .facebook-api .post-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .facebook-api .post-wrap>div {
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
}

footer .box ul {
    list-style-type: none;
}

footer .box ul li {
    margin-bottom: 1rem;
}

footer .box ul li a {
    color: var(--pure)!important;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

footer .box ul li a:hover {
    color: var(--primary);
}

footer.copyright {
    position: relative;
    padding: 1rem 0;
    background: var(--secondary);
    color: var(--pure);
    text-align: center;
    font-size: 0.75rem;
}

footer.copyright a {
    text-decoration: none;
}

footer.copyright .move-up {
    position: absolute;
    right: 6%;
    top: 30%;
}

footer.copyright .move-up span {
    color: mediumaquamarine;
}

footer.copyright .move-up span:hover {
    color: var(--primary);
    cursor: pointer;
}

.nav-background .mobile-logo .brand_name {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "Courgette-regular";
    color: var(--secondary);
}

.nav-background .mobile-logo img {
    margin-top: 1rem;
    width: 50px;
    height: 50px;
}

.nav-background .mobile-nav {
    padding: 1rem;
}

.nav-background .mobile-nav ul {
    list-style-type: none;
}

.nav-background .mobile-nav ul li {
    margin-bottom: 1rem;
}

.nav-background .mobile-nav ul li a {
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-medium";
}

.nav-background .mobile-nav ul li a:hover {
    color: var(--primary);
}

.nav-background .contact,
.nav-background .time {
    padding: 1rem;
    padding-left: 0;
}

.nav-background .contact img,
.nav-background .time img {
    margin-right: 1rem;
}

.nav-background .contact h5,
.nav-background .time h5 {
    font-family: "Raleway-bold";
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

.nav-background .contact h6,
.nav-background .time h6 {
    font-size: 0.75rem;
}

.social-box {
    position: fixed;
    left: 5px;
    top: 50%;
    z-index: 1000;
}

.social-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    background: var(--heaven);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 30px;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-icon:hover {
    background: var(--primary);
}

.social-box img {
    width: 20px;
    height: 20px;
}

.social-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social-icon:focus+.social-links li:nth-child(1) {
    transform: translate(-75px, -75px)!important;
    -webkit-transform: translate(-75px, -75px)!important;
    -moz-transform: translate(-75px, -75px)!important;
    -ms-transform: translate(-75px, -75px)!important;
    -o-transform: translate(-75px, -75px)!important;
}

.social-icon:focus+.social-links li:nth-child(2) {
    transform: translate(-20px, -55px)!important;
    -webkit-transform: translate(-20px, -55px)!important;
    -moz-transform: translate(-20px, -55px)!important;
    -ms-transform: translate(-20px, -55px)!important;
    -o-transform: translate(-20px, -55px)!important;
}

.social-icon:focus+.social-links li:nth-child(3) {
    transform: translate(0px, 0px)!important;
}

.social-icon:focus+.social-links li:nth-child(4) {
    transform: translate(-20px, 55px)!important;
    -webkit-transform: translate(-20px, 55px)!important;
    -moz-transform: translate(-20px, 55px)!important;
    -ms-transform: translate(-20px, 55px)!important;
    -o-transform: translate(-20px, 55px)!important;
}

.social-icon:focus+.social-links li:nth-child(5) {
    transform: translate(-75px, 75px)!important;
    -webkit-transform: translate(-75px, 75px)!important;
    -moz-transform: translate(-75px, 75px)!important;
    -ms-transform: translate(-75px, 75px)!important;
    -o-transform: translate(-75px, 75px)!important;
}

.social-links li {
    position: absolute;
    left: 75px;
    top: 2px;
    transition: all 0.3s ease-in-out 0.3s;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    -ms-transition: all 0.3s ease-in-out 0.3s;
    -o-transition: all 0.3s ease-in-out 0.3s;
    transform: translate(-75px, 0)!important;
    -webkit-transform: translate(-75px, 0)!important;
    -moz-transform: translate(-75px, 0)!important;
    -ms-transform: translate(-75px, 0)!important;
    -o-transform: translate(-75px, 0)!important;
}

.social-links li a {
    display: block;
}

.social-links li a img {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background: var(--pure);
    line-height: 20px;
    text-align: center;
    position: relative;
    font-size: 30px;
}


/* site content */

section.blog-section {
    background: var(--blog-bgcolor);
}

section .site-content {
    display: grid;
    grid-template-columns: 60% 40%;
}

section .site-content .post-content {
    width: 100%;
}

section .site-content .post-content>.post-image,
.post-title {
    padding: 1rem 2rem;
    position: relative;
}

section .site-content .post-content>.post-image .post-info {
    background: var(--ternary);
    padding: 0.5rem;
    position: absolute;
    bottom: 0%;
    left: 8vw;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

section .site-content .post-content>.post-image .post-info2 {
    background: var(--ternary);
    padding: 0.5rem;
    position: absolute;
    bottom: 0%;
    left: 12vw;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

section .site-content .post-content>.post-image>div {
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section .post-image .img {
    width: 100%;
    height: 300px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

section .site-content .post-content>.post-image .img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

section .post-info span {
    margin: 0.3rem;
    display: flex;
}

section .post-info span span {
    margin-left: 0.5rem;
    text-align: center;
    font-family: "Raleway-semibold";
    font-size: 1rem;
    font-weight: bold;
    color: var(--heaven);
}

section .post-info span img {
    top: 1rem;
    width: 20px;
    height: 20px;
}

section .post-info2 span {
    margin: 0.3rem;
    display: flex;
}

section .post-info2 span span {
    margin-left: 0.5rem;
    text-align: center;
    font-family: "Raleway-semibold";
    font-size: 1rem;
    font-weight: bold;
    color: var(--heaven);
}

section .post-info2 span img {
    top: 1rem;
    width: 20px;
    height: 20px;
}

section .site-content .post-content .post-title a {
    font-family: "Raleway-bold";
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--secondary);
}

section .site-content a {
    font-family: "Raleway-bold";
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--secondary);
}

section .site-content .post-content .post-title p {
    margin-top: 1.5rem;
    font-family: "Raleway-medium";
    line-height: 1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--ternary);
}

section .site-content hr {
    border: 1px solid var(--secondary);
    justify-content: center;
}

section .site-content .pagination {
    display: flex;
    justify-content: center;
}

section .site-content .pagination a {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    margin: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

section .site-content .pagination .pages {
    background: var(--primary);
    color: var(--gradient-color);
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    clip-path: circle();
    font-weight: bold;
}

section .site-content .pagination a img {
    width: 20px;
    height: 20px;
}


/* category section */

section .sidebar {
    justify-content: center;
}

section .sidebar .category h2 {
    text-align: center;
    margin-top: 4.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "Raleway-semibold";
}

section .site-content .sidebar .category-list {
    font-family: "Raleway_medium";
    list-style-type: none;
}

section .site-content .sidebar .category-list .list-items {
    background: var(--heaven);
    padding: .4rem .5rem;
    margin: .9rem 5rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

section .site-content .sidebar .category-list .list-items2 {
    background: var(--heaven);
    padding: .4rem .5rem;
    margin: .9rem 8rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

section .site-content .sidebar .category-list .list-items a {
    font-size: 1rem;
    text-decoration: none;
    font-family: "Raleway-medium";
    color: var(--secondary);
    font-weight: bold;
}

section .site-content .sidebar .category-list .list-items2 a {
    font-size: 1rem;
    text-decoration: none;
    font-family: "Raleway-medium";
    color: var(--secondary);
    font-weight: bold;
}

section .site-content .sidebar .category-list .list-items .count {
    text-decoration: none;
    font-family: "Raleway-medium";
    color: var(--danger);
    font-weight: bold;
}

section .site-content .sidebar .category-list .list-items2 .count {
    text-decoration: none;
    font-family: "Raleway-medium";
    color: var(--danger);
    font-weight: bold;
}

section .sidebar .popular-post h2 {
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "Raleway-semibold";
}

section .popular-post .post-info span span {
    margin-left: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: "Raleway-semibold";
    font-size: 1rem;
    font-weight: bold;
    color: var(--ternary);
}

section .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

section .sidebar .popular-post .post-content .post-info {
    padding: 0;
    bottom: 0;
    left: 1.55rem;
    border-radius: 0;
    border-bottom-left-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: var(--blog-bgcolor);
}

section .sidebar .popular-post .post-content .post-image .img {
    width: 100%;
    height: 200px;
}

section .sidebar .popular-post .post-content .post-title a {
    font-size: 1rem;
    color: var(--ternary);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

section .sidebar .popular-post .post-content .post-title a:hover {
    color: var(--secondary);
}

section .sidebar .popular-tags h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: "Raleway-semibold";
}

section .sidebar .popular-tags .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3rem;
}

section .sidebar .popular-tags .tags .tag {
    background: var(--ternary);
    padding: .4rem 1rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    margin: .4rem .6rem;
    text-decoration: none;
    color: var(--pure);
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid var(--secondary);
}

section.blog-section .posts .popular-tags h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem!important;
    font-family: "Raleway-semibold";
    color: var(--ternary);
}

section.blog-section .posts .popular-tags .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section.blog-section .posts .popular-tags .tags .tag {
    background: var(--ternary);
    padding: .4rem 1rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    margin: .4rem .6rem;
    text-decoration: none;
    color: var(--pure);
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid var(--secondary);
}

section.blog-section .posts .post-title .single_para {
    margin-top: 1.5rem;
    font-family: "Raleway-medium";
    line-height: 1.1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--secondary);
}

section.blog-section .posts .post-title .single_para::first-letter {
    color: var(--primary);
    font-size: 2rem;
    line-height: 1rem;
    display: inline;
}

.related-video {
    margin-left: 3.5rem;
}

.related-video h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "Raleway-semibold";
}

.small-img-row {
    width: 90%;
    display: flex;
    background: var(--pure-white);
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
}

.small-img {
    position: relative;
}

.small-img img {
    width: 150px;
}

.small-img-row p {
    margin-left: 20px;
    color: var(--secondary);
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
}

.small-img .play-btn {
    width: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}

.video-player {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

video:focus {
    outline: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    cursor: pointer;
    z-index: 1;
}

.dict-input {
    margin-top: 3rem;
}

.dict-input h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "Raleway-semibold";
}

.form_wrap {
    display: flex;
    justify-content: center;
}

.input-wrap {
    background: var(--heaven);
    display: flex;
    padding: 0.3rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 80%;
}

.input-wrap input {
    width: 100%;
    border: 1px solid transparent;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--secondary);
}

input:focus {
    outline: none;
}

button.search {
    background: var(--primary);
    padding: 0.8rem 2rem;
    border: 1px solid transparent;
    color: var(--pure);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

button.search:hover {
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.data {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.data .loading {
    display: none;
}

.data p.def {
    font-size: 15px;
    color: var(--secondary);
    line-height: 1.6;
    max-width: 45ch!important;
    margin-left: 55px;
    font-family: "Raleway-semibold";
}

.not_Found {
    font-size: 12px;
    color: var(--ternary);
    line-height: 1.6;
    font-family: "Raleway-semibold";
}

.dispAlert {
    font-size: 12px;
    color: var(--danger);
    line-height: 1.6;
    font-family: "Raleway-semibold";
}

.suggested {
    background: var(--ternary);
    color: var(--heaven);
    padding: 2px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 10px;
    margin-top: 5px;
    border-bottom: 2px solid var(--secondary);
    display: inline-block;
}

.audio {
    margin-top: 20px;
}


/* category section */


/* site content */


/* Get In touch */

section.contact-us .map {
    width: auto;
    height: auto;
}

section.contact-us .map .form-container {
    padding: 30px 40px 30px 40px;
    background: var(--gradient-color2), url("../images/register3.jpg") 20% 100px;
    background-size: cover;
    background-repeat: repeat;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    margin: 0 2rem;
}

section.contact-us .map .form-container .input_box input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    color: var(--blog-bgcolor);
    margin-bottom: 10px;
    font-size: 15px;
    height: 33px;
    padding: 6px 0px 6px 25px;
    transition: 0.8s all ease;
    -webkit-transition: 0.8s all ease;
    -moz-transition: 0.8s all ease;
    -ms-transition: 0.8s all ease;
    -o-transition: 0.8s all ease;
}

section.contact-us .map .form-container .input_box textarea {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    color: var(--blog-bgcolor);
    margin-bottom: 10px;
    font-size: 15px;
    padding: 6px 0px 6px 25px;
    resize: none;
}

section.contact-us .map .form-container .input_box input:focus,
section.contact-us .map .form-container .input_box textarea:focus {
    outline: none;
    border-color: var(--pure-white);
}

section.contact-us .map .form-container .input_box {
    position: relative;
}

section.contact-us .map .form-container .input_box .icon {
    position: absolute;
    height: 33px;
    color: var(--primary);
    line-height: 33px;
}

section.contact-us .map .form-container .submit_btn {
    justify-content: center;
    text-align: center;
}

section.contact-us .map .form-container .submit_btn button {
    border: none;
    outline: none;
    width: 50%;
    text-align: center;
    justify-content: center;
    background: var(--ternary);
    color: var(--secondary);
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section.contact-us .map .form-container .submit_btn button:hover {
    background: var(--secondary);
    color: var(--ternary);
}


/* Get In touch */

section.shortner_link {
    background: #20B2AA;
}

.wrapper {
    background: var(--pure);
    padding: 20px;
    margin: 2rem 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    border-bottom: 3px solid var(--secondary);
    position: relative;
}

.wrapper form img {
    width: 50px;
    height: 30px;
    position: absolute;
    text-align: center;
    pointer-events: none;
}

.wrapper form {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.wrapper form input {
    height: 100%;
    width: 100%;
    padding: 0 120px 0 45px;
    outline: none;
    border: 2px solid var(--light);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 15px;
    caret-color: #20B2AA;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.wrapper form input:valid {
    border-color: var(--primary);
}

.wrapper form input::placeholder {
    color: #20B2AA;
}

.wrapper form button {
    position: absolute;
    right: 25px;
    padding: 12px 15px;
    border: none;
    color: var(--pure);
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    background: var(--primary);
    opacity: 0;
    pointer-events: none;
}

.wrapper form input:valid~button {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .count {
    margin: 20px;
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
}

.wrapper .count span {
    font-size: 17px;
}

.wrapper .count span span {
    font-weight: 500;
}

.wrapper a {
    text-decoration: none;
    color: var(--ternary);
    font-weight: 500;
}

.wrapper .count a:hover {
    color: #20B2AA;
}

.wrapper .urls-area {
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 5px;
    max-height: 400px;
    overflow-y: scroll;
}

.wrapper .urls-area::-webkit-scrollbar {
    width: 0px;
}

.wrapper .urls-area :is(.title,
.url-data) {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrapper .urls-area li {
    list-style-type: none;
    width: 100%;
    border-right: 1px solid #ddd;
}

.wrapper .urls-area li:last-child {
    border-right: 0px;
}

.wrapper .urls-area .title li {
    text-align: center;
    background: #f2f2f2;
    padding: 10px 0;
}

.wrapper .urls-area .url-data li {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding: 8px 10px;
}

.wrapper .urls-area li:nth-child(1) {
    max-width: 30%;
}

.wrapper .urls-area li:nth-child(2) {
    max-width: 45%;
}

.wrapper .urls-area li:nth-child(3) {
    max-width: 11%;
}

.wrapper .urls-area li:nth-child(4) {
    max-width: 14%;
}

.wrapper .urls-area .url-data:nth-child(odd) {
    background: #f2f2f2;
}

.wrapper .urls-area .url-data li:last-child a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .urls-area .url-data li:first-child a:hover {
    color: #20B2AA;
    text-decoration: underline;
}

.wrapper .urls-area .url-data li:last-child a:hover {
    color: var(--danger);
}

.blur-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.popup-box {
    position: absolute;
    background: var(--pure);
    padding: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 480px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


/* we'll use this show class later into javascript */

.popup-box.show {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.popup-box .info-box {
    color: #0f5753;
    background: #bef4f1;
    border: 1px solid #7de8e3;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}


/* we'll use this error class later into javascript */

.popup-box .info-box.error {
    color: var(--danger);
    background: #f8d7da;
    border-color: #f5c6cb;
}

.popup-box form {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-box form label {
    font-size: 15px;
    margin-bottom: 0.5rem;
    font-family: "Raleway-semibold";
}

.popup-box form input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 35px 0 15px;
    margin-top: 3px;
}

.popup-box form img {
    position: absolute;
    right: 10px;
    z-index: 1;
    width: 20px;
    top: 30%;
    transform: translate(-50%);
    cursor: pointer;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.popup-box form button {
    position: relative;
    margin-top: 10px;
    width: 100px;
    padding: 12px 15px;
    border: 1px solid transparent;
    color: var(--pure);
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    background: var(--primary);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.popup-box form button:hover {
    color: var(--primary);
    background: var(--pure);
    border-color: var(--primary);
}


/* utility classes */

.mt-1r {
    margin-top: 1.3rem;
}

.mb-1r {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.magic-shadow {
    position: relative;
    background: var(--heaven);
}

.magic-shadow::after {
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -22px;
    z-index: -1;
}

.magic-shadow-sm {
    position: relative;
    background: var(--heaven);
}

.magic-shadow-sm::after {
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.btn {
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 1px solid transparent;
}

.btn-primary {
    background: var(--primary);
    color: var(--heaven);
}

.btn-primary:hover {
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary {
    background: var(--secondary);
    color: var(--heaven);
}

.btn-secondary:hover {
    background: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.section-heading {
    font-family: "Raleway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}

.section-heading::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}

.section-heading2 {
    font-family: "Raleway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}

.section-heading2::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -30px;
}

.text-center {
    text-align: center;
}

.small_text {
    padding: 0!important;
    margin-top: 0.5rem!important;
    font-size: 1.5rem!important;
    border: none!important;
}

.single_img {
    padding: 0!important;
    margin: 0!important;
    width: 45px!important;
    height: 45px!important;
    border: none!important;
}

.white_space {
    padding: 0!important;
    margin: 0!important;
}

.flex-1 {
    flex: 1;
}

.text-primary {
    color: var(--primary);
}

.text-pure {
    color: var(--pure);
}


/* utility classes */


/* responsive */

@media(min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1152px;
    }
}

@media(max-width:1130px) {
    section .sidebar .popular-post .post-content .post-info {
        display: none;
    }
    section .site-content .post-content>.post-image .post-info,
    section .site-content .post-content>.post-image .post-info2 {
        background: var(--ternary);
        padding: 0.5rem;
        position: absolute;
        bottom: 0%;
        left: 6vw;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }
    section .site-content .sidebar .category-list .list-items2 {
        margin-left: 6.5rem;
    }
}

@media(max-width:992px) {
    .nav-trigger {
        display: block;
    }
    header.topbar,
    nav {
        display: none;
    }
    .top-products .slider-btn {
        display: none!important;
    }
    section.contact-us {
        flex-direction: column;
    }
    footer .facebook-api .post-wrap>div {
        width: calc(1/2*100% -(1 - 1/3)*10px);
    }
    section .site-content {
        grid-template-columns: 100%;
    }
    section .site-content .sidebar {
        margin-top: 5rem;
    }
    section .site-content .sidebar .category-list {
        justify-content: center;
        margin-left: 5rem;
    }
    section .site-content .post-content>.post-image .post-info,
    section .site-content .post-content>.post-image .post-info2 {
        background: var(--ternary);
        padding: 0.5rem;
        position: absolute;
        bottom: 0%;
        left: 15vw;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }
    section.contact-us .contact-info-wrapper {
        border-right: none;
        border-bottom: 2px solid var(--primary);
    }
    section.top-products {
        margin-top: -1.5rem;
    }
    section .site-content .sidebar .category-list .list-items2 {
        margin-left: 8rem;
    }
    .related-video {
        margin-left: 0rem;
    }
    .small-img-row {
        margin-left: 3.5rem;
    }
    .mt-1r {
        margin-top: 0!important;
    }
}

@media (max-width:768px) {
    footer .container {
        flex-direction: column;
    }
    footer .box {
        text-align: left;
        margin-right: 0;
        margin-bottom: 3rem;
    }
    footer .box:nth-child(3) h3 {
        text-align: left;
    }
    footer .box:nth-child(3)>div {
        display: block;
    }
    section .site-content .post-content>.post-image .post-info,
    section .site-content .post-content>.post-image .post-info2 {
        background: var(--ternary);
        padding: 0.5rem;
        position: absolute;
        bottom: 0%;
        left: 15vw;
        border-radius: 4rem!important;
        -webkit-border-radius: 4rem!important;
        -moz-border-radius: 4rem!important;
        -ms-border-radius: 4rem!important;
        -o-border-radius: 4rem!important;
    }
    section.contact-us .map .form-container {
        background: var(--gradient-color2), url("../images/register3.jpg");
        background-size: cover;
        background-repeat: repeat;
    }
    section.contact-us .contact-info-wrapper {
        border-right: none;
        border-bottom: 2px solid var(--primary);
    }
    .small-img-row {
        margin-left: 3rem;
    }
}

@media (max-width:576px) {
    section .site-content .post-content>.post-image .post-info,
    section .site-content .post-content>.post-image .post-info2 {
        left: 18vw;
        border-radius: 4rem!important;
        -webkit-border-radius: 4rem!important;
        -moz-border-radius: 4rem!important;
        -ms-border-radius: 4rem!important;
        -o-border-radius: 4rem!important;
    }
    section .site-content .post-content>.post-image .post-info span:nth-child(3),
    section .site-content .post-content>.post-image .post-info2 span:nth-child(3) {
        display: none;
    }
    section .site-content .sidebar .category-list {
        justify-content: center;
        margin-left: 1rem;
    }
    .small-img-row {
        margin-left: 1.5rem;
    }
}

@media (max-width:520px) {
    section .site-content .post-content>.post-image .post-info,
    section .site-content .post-content>.post-image .post-info2 {
        left: 10vw;
        border-radius: 4rem!important;
        -webkit-border-radius: 4rem!important;
        -moz-border-radius: 4rem!important;
        -ms-border-radius: 4rem!important;
        -o-border-radius: 4rem!important;
    }
    section .site-content .post-content>.post-image .post-info span:nth-child(3),
    section .site-content .post-content>.post-image .post-info2 span:nth-child(3) {
        display: none;
    }
    section .site-content .sidebar .category-list {
        justify-content: center;
        margin-left: 1rem;
    }
    section .site-content .sidebar .category-list .list-items2 {
        margin-left: 5rem;
    }
}

@media (max-width:375px) {
    section .site-content .post-content>.post-image .post-info,
    section .site-content .post-content>.post-image .post-info2 {
        left: 22vw;
        border-radius: 4rem!important;
        -webkit-border-radius: 4rem!important;
        -moz-border-radius: 4rem!important;
        -ms-border-radius: 4rem!important;
        -o-border-radius: 4rem!important;
    }
    section .site-content .post-content>.post-image .post-info span:nth-child(1),
    section .site-content .post-content>.post-image .post-info2 span:nth-child(1) {
        display: none;
    }
    section .site-content .post-content>.post-image .post-info span:nth-child(3),
    section .site-content .post-content>.post-image .post-info2 span:nth-child(3) {
        display: none;
    }
    section .site-content .sidebar .category-list {
        justify-content: center;
        margin-left: 1rem;
    }
    section.contact-us .map .form-container {
        background: var(--gradient-color2), url("../images/register3.jpg") 20% 75px;
        background-size: cover;
        background-repeat: repeat;
    }
    .small-img-row {
        display: flex;
        flex-direction: column;
    }
    .small-img-row .small-img {
        width: 100%;
    }
    .small-img-row .small-img img {
        width: 100%;
        height: 100%;
    }
    .small-img-row .small-img .play-btn {
        width: 30px;
        height: 30px;
    }
    .small-img-row p {
        margin-left: 10px;
        color: var(--secondary);
        line-height: 20px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    .video-player {
        width: 85%;
        display: none;
    }
    video:focus {
        outline: none;
    }
    .close-btn {
        width: 15px;
    }
}

@media (max-width:320px) {
    section .site-content .post-content>.post-image .post-info,
    section .site-content .post-content>.post-image .post-info2 {
        left: 17vw;
        border-radius: 4rem!important;
        -webkit-border-radius: 4rem!important;
        -moz-border-radius: 4rem!important;
        -ms-border-radius: 4rem!important;
        -o-border-radius: 4rem!important;
    }
    section .site-content .post-content>.post-image .post-info span:nth-child(1),
    section .site-content .post-content>.post-image .post-info2 span:nth-child(1) {
        display: none;
    }
    section .site-content .post-content>.post-image .post-info span:nth-child(3),
    section .site-content .post-content>.post-image .post-info2 span:nth-child(3) {
        display: none;
    }
    section .site-content .sidebar .category-list {
        justify-content: center;
        margin-left: -1rem;
    }
}


/* responsive */